<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/flask.svg') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap-4.6.0-dist/css/bootstrap.min.css') }}">
    {% block custom_css %}{% endblock custom_css %}

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block body %}
    {% endblock body %}

    <script src="{{ url_for('static', filename='lib/bootstrap-4.6.0-dist/js/jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap-4.6.0-dist/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap-4.6.0-dist/js/bootstrap.min.js') }}"></script>
    {% block custom_js %}{% endblock custom_js %}
</body>

</html>