{% extends './body.html' %}

{% block title %}Listado de Libros{% endblock %}

{% block container %}
<div class="row">
    {% for libro in data.libros %}
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card mb-4 shadow-sm">
            <!-- Definicion de variable 'url' -->
            {% set url = 'img/portadas/' + libro.isbn + '.jpg' %}
            <img class="card-img-top" src="{{ url_for('static', filename=url) }}" height="320"
                alt="{{ libro.titulo }}" />
            <div class="card-body">
                <h5 class="card-title">{{ libro.titulo }} <span style="float: right;">${{ libro.precio }}</span></h5>
                <p class="card-text">{{ libro.autor.nombre_completo() }}</p>
                <button id="{{ libro.isbn }}" class="btn btn-block btn-primary btnComprarLibro">Comprar</button>
            </div>
        </div>
    </div>
    {% endfor %}
    <input type="hidden" name="csrf-token" value="{{ csrf_token() }}">
</div>
{% endblock container %}

{% block custom_js %}
<script src="{{ url_for('static', filename='lib/sweetalert2-9.10.0/sweetalert2.all.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/notificacionSwal.js') }}"></script>
<script src="{{ url_for('static', filename='js/listado_libros.js') }}"></script>
{% endblock custom_js %}